<html>
<head>
<title>mediaPlayer.kt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cf8e6d;}
.s1 { color: #bcbec4;}
.s2 { color: #bcbec4;}
.s3 { color: #6aab73;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
mediaPlayer.kt</font>
</center></td></tr></table>
<pre><span class="s0">package </span><span class="s1">com</span><span class="s2">.</span><span class="s1">example</span><span class="s2">.</span><span class="s1">cifraclub</span><span class="s2">.</span><span class="s1">components</span>


<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">compose</span><span class="s2">.</span><span class="s1">runtime</span><span class="s2">.</span><span class="s1">Composable</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">compose</span><span class="s2">.</span><span class="s1">runtime</span><span class="s2">.</span><span class="s1">DisposableEffect</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">compose</span><span class="s2">.</span><span class="s1">runtime</span><span class="s2">.</span><span class="s1">LaunchedEffect</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">compose</span><span class="s2">.</span><span class="s1">runtime</span><span class="s2">.</span><span class="s1">remember</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">compose</span><span class="s2">.</span><span class="s1">ui</span><span class="s2">.</span><span class="s1">platform</span><span class="s2">.</span><span class="s1">LocalContext</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">media3</span><span class="s2">.</span><span class="s1">common</span><span class="s2">.</span><span class="s1">MediaItem</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">media3</span><span class="s2">.</span><span class="s1">common</span><span class="s2">.</span><span class="s1">MimeTypes</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">media3</span><span class="s2">.</span><span class="s1">exoplayer</span><span class="s2">.</span><span class="s1">ExoPlayer</span>
<span class="s1">import androidx</span><span class="s2">.</span><span class="s1">media3</span><span class="s2">.</span><span class="s1">ui</span><span class="s2">.</span><span class="s1">PlayerView</span>
<span class="s1">import com</span><span class="s2">.</span><span class="s1">example</span><span class="s2">.</span><span class="s1">cifraclub</span><span class="s2">.</span><span class="s1">R</span>

<span class="s0">val </span><span class="s1">listVideo </span><span class="s2">= </span><span class="s1">listOf</span><span class="s2">(</span>
    <span class="s1">R</span><span class="s2">.</span><span class="s1">raw</span><span class="s2">.</span><span class="s1">videoplayback</span>
<span class="s2">)</span>

<span class="s1">@Composable</span>
<span class="s0">fun </span><span class="s1">mediaPlayer</span><span class="s2">() {</span>

    <span class="s0">val </span><span class="s1">context </span><span class="s2">= </span><span class="s1">LocalContext</span><span class="s2">.</span><span class="s1">current</span>

    <span class="s0">val </span><span class="s1">player </span><span class="s2">= </span><span class="s1">remember </span><span class="s2">{</span>
        <span class="s1">ExoPlayer</span><span class="s2">.</span><span class="s1">Builder</span><span class="s2">(</span><span class="s1">context</span><span class="s2">).</span><span class="s1">build</span><span class="s2">()</span>
    <span class="s2">}</span>

    <span class="s1">LaunchedEffect</span><span class="s2">(</span><span class="s1">Unit</span><span class="s2">) {</span>
        <span class="s0">val </span><span class="s1">mediaItem </span><span class="s2">= </span><span class="s1">MediaItem</span><span class="s2">.</span><span class="s1">Builder</span><span class="s2">()</span>
            <span class="s2">.</span><span class="s1">setUri</span><span class="s2">(</span><span class="s3">&quot;https://storage.googleapis.com/exoplayer-test-media-0/BigBuckBunny_320x180.mp4&quot;</span><span class="s2">)</span>
            <span class="s2">.</span><span class="s1">setMimeType</span><span class="s2">(</span><span class="s1">MimeTypes</span><span class="s2">.</span><span class="s1">APPLICATION_MP4</span><span class="s2">)</span>
            <span class="s2">.</span><span class="s1">build</span><span class="s2">()</span>


    <span class="s2">}</span>

 

    <span class="s4">// Dispose of the player when the composable is disposed</span>
    <span class="s1">DisposableEffect</span><span class="s2">(</span><span class="s1">Unit</span><span class="s2">) {</span>
        <span class="s1">onDispose </span><span class="s2">{</span>
            <span class="s1">player</span><span class="s2">.</span><span class="s1">release</span><span class="s2">()</span>
        <span class="s2">}</span>
    <span class="s2">}</span>



    <span class="s4">// Use the player to display the video</span>
    <span class="s4">// ...</span>
<span class="s2">}</span></pre>
</body>
</html>